
<div class="container form-signin">
<h1>Novo Usuário</h1>

<%= render 'form' %>


</div>
<%= link_to '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar'.html_safe, root_path, class:"btn btn-default" %>
