<h1>Editar Canal</h1>

<%= render 'form' %>

<div class="btn-group" role="group" aria-label="...">
<%= link_to 'Show', @ads_list, class:"btn btn-default" %>
<%= link_to 'Back', ads_lists_path, class:"btn btn-default" %>
</div>
